/* Adding Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* Reset */
* {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}
